{% extends "base.html" %}
{% load static %}

{% block title %}Test map{% endblock %}

{% block content %}
<div class="row align-items-start">
    <div class="col-8">
        <div id="map" style="height: 500px;"></div>
    </div>
    <div class="col-4">
        <div id="patrol-list"></div>
    </div>
</div>
{% endblock %}

{% block js_bottom %}
    <script>
        const urls = {
            zones: "{% url 'zones_all_geojson' %}",
            patrols: "{% url 'get_patrol' %}",
            route: "{% url 'route_to_patrols' %}"
        };
    </script>
    <script src="{% static 'js/map.js' %}"> </script>
{% endblock %}

